<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="Zoothl.css">
</head>
<body>
    <div class="TermBox">
        <nav>
            <p id="shadow">ENG</p>
            <p id="term">{{ENG}}</p>
        </nav>
    </div>

    <div class="POSBox">
        <p id="pos">{{POS}}</p>
    </div>

    <div class="container">
        <div class="trcBox">
            <p class="softtext">{{TRC}}</p>
        </div>
        
        <div class="audioBox">
            <p style=" text-align: center;">{{AUD}}</p>
        </div>

    </div>

    <div class="StandardBox">
        <nav>
            <p id="shadow">IMG</p>
            <p id="image">{{IMG}}</p>
            <hr>
            <p id="shadow">RUS</p>
            <p id="softtext">{{RUS}}</p>
        </nav>
    </div>

    <div class="StandardBox">
        <nav>
            <p id="shadow">MEM</p>
            <p id="main">{{MEM}}</p>
        </nav>
    </div>

    <div class="StandardBox">
        <nav>
            <p id="shadow">SYN</p>
            <p id="main">{{SYN}}</p>
        </nav>
    </div>

    <div class="StandardBox">
        <nav>
            <p id="shadow">RMK</p>
            <p id="main">{{RMK}}</p>
        </nav>
    </div>
</body>
</html>