<body>
    <link rel="stylesheet" type="text/css" href="Hipuga.css">
    <div class="TermBox">  
        <p class="term">{{ENG}}<span>ENG</span></p>
    </div>

    <div class=POSBox> 
        <p class="pos">{{POS}}</p>
    </div>

    <div class="container">

        <div class="TRC">
            <p class="rus_trc">{{TRC}}<span>TRC</span></p>
        </div>
        
        <div class="AUD">
            <p style=" text-align: center;">{{AUD}}</p>
        </div>

    </div>

    <div class=ImageBox>
        <p class="image">{{IMG}}</p><span>IMG</span></p> 
        <hr>
        <p class="rus_trc">{{RUS}}</p>
    </div>

    <div class="task"><p><ul><li>Make definition of main field content</li><li>Pass same idea using other words</li><li>Make sentence using this word</li></ul>
        <span style=>TSK</span></p>
    </div>

    <div class=default>
        <p>{{MEM}}<span style=>MEM</span></p>
    </div>

    <div class=default>
        <p>{{SYN}}<span style=>SYN</span></p>
    </div>

    <div class=default>
        <p>{{RMK}}<span>RMK</span></p>
    </div>

</body>